* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  display: grid;
  height: 100%;
  width: 100%;
  min-height: 400px;
  place-items: center;
  background: black;
}

body {
  color: white;
  font-family: "Inter";
  text-align: center;
  font-size: 25px;
  overflow: hidden;
}

img {
  height: 100px;
}

.center {
  padding: 30px 30px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
  font-size: 60px;
}

p {
  font-size: 20px;
  font-weight: 400;
  opacity: 50%;
}

.skew {
  transform: skew(-16deg, 2deg);
  transition: transform 0.5s;
}
.skew:hover {
  transform: skew(0deg, 0deg);
}

header,
footer {
  position: absolute;
  width: 100%;
  text-align: center;
}

header {
  top: 10%;
}

footer {
  bottom: 10%;
  opacity: 100%;
}

footer {
  opacity: 0.5;
  transition: opacity 0.5s;
}

footer:hover {
  opacity: 1;
}
